.wrapper {
    
   
}

.name{
    background: #524f4f;
    color: rgb(239, 243, 247);
    font-size: 32px;
    margin: 0px 980px 0px 0px;
    position: relative;
    float: left;
    /*display: inline-flex;*/
}

li a {
    color: whitesmoke;
    padding-top: 10px;
    text-decoration: none;
    font-size: 24px;
    margin: 10px 10px 0px 0px;
}
.navbar{
    position: relative;
    overflow: hidden;
    background: #524f4f;
    border: 1px #cccccc;
    width: 100%;
    height: 60px;

    }

.about{
    text-align: left;
    margin: 100px 100px 0px 325px;
    width: 800px;
    height: 400px;
    background: #ffffff;
}
#profile-img{
    height:200px;
    margin-right: 20px;
    display: flex;
    flex-flow: row wrap;
    float: left;
}
.container{
    margin: 50px 0px 0px 500px;
    line-height: 20px;
}
.footer{
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 10%;
    width: 100%;
    border: 1px default #4aaaa5;
    background: #524f4f;
    font-size: 10px;
    color: white;
    text-align: center;
}
/*.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }*/
body{
      background-image: "C:\Users\Brendan\code\basic-portfolio\assets\images\floor-tile\floor-tile.png" ;
      margin: 0px;
      padding: 0px;
  }

h1{
      color: #524f4f;
  }

ul{
    list-style-type: none;
}

li {
    display: inline;
    padding: 5px;
    color: rgb(4, 71, 4);
    text-align: center;
}  

::-webkit-scrollbar { 
    display: none; 
}
label {
    margin-bottom: 20px;
}